node_modules/
client-side-built/
*.orig
*.pyc
*.swp
*.swo
local-config.ini
*.sublime-project
*.sublime-workspace
ignore/
mongo-dumps/
tmp/
# I think they say in theory you should commit package-lock but until we start doing that we will ignore it.
package-lock.json
# Ignore temp files created by tmux
tmux-client*
# I don't think I want to actually check in my idea background images, only the ones that are actually in use at the moment
client-side/static/background-ideas/
# I'm experimenting trying to get the server to support https and I put that folder in here so I'm going to just ignore it.
https_play/

