node_modules/
client-side-built/
*.orig
*.pyc
*.swp
local-config.ini
*.sublime-project
*.sublime-workspace
ignore/
mongo-dumps/
# I think they say in theory you should commit package-lock but until we start doing that we will ignore it.
package-lock.json
tmp/

